ver2: 로그 씌운 후 비율% 계산
- data_1901_2004_classified_2_outliered -> 전처리 -> processed_data_1901_2004_ver2

# ---자동화---
- 3시간32분

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
import pandas as pd
import numpy as np
import unicodedata
import os
import time
from tqdm import tqdm

data_dir = '/content/drive/My Drive/영빈/data/'
data = pd.read_feather(data_dir + 'data_1901_2004_classified_2_outliered.ftr', #
                       columns=['년', '월', '가맹점소재지1', '가맹점소재지2', '성별', '연령대별', '연평균소득추정','이용금액', '이용건수', '업종']) # index col 빼고 읽어오기


""" --------------- 날짜 루프 ------------------ """


date_list = [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912,
             202001, 202002, 202003, 202004]

all_data = []
from tqdm import tqdm
for date in tqdm(date_list):

  year = int(str(date)[:4]) # 2019
  month = str(date)[4:] # 01

  if month[0] == '0':
    month = int(month[1]) # 1
  else:
    month = int(month) 
  
  """ 데이터 월별 필터링 """

  df = data[(data['년']==year) & (data['월']==month)]
  print('월별 데이터: ',df.shape)


  """ --------------- 전처리 ------------------ """


  """ 고객 그룹별 업종 이용금액 """

  grouped = df.groupby(['년', '월', '가맹점소재지1', '가맹점소재지2', '성별','연령대별', '연평균소득추정', '업종']) 
  grouped_sum = grouped['이용금액'].sum()
  df_spend_part = pd.DataFrame(grouped_sum)

  # Calculate logarithm on column 
  df_spend_part['이용금액'] = np.log10(df_spend_part['이용금액'])
  df_spend_part

  """ 고객 그룹별 전체 이용금액 (로그 씌운 업종 이용금액들의 합) """

  grouped = df_spend_part.groupby(['년', '월', '가맹점소재지1', '가맹점소재지2', '성별','연령대별', '연평균소득추정']) 
  grouped_sum = grouped['이용금액'].sum()
  df_spend_total = pd.DataFrame(grouped_sum)
  df_spend_total


  """ 이용금액 % 생성 """

  from tqdm import tqdm
  for index,row in df_spend_part.iterrows():
      
      sort_list = list(index)[:-1] # e.g., 2019년 1월 서울시 노원구 남성 20대 B1 (업종제외)
      year, month, region1, region2, gender, age, income = sort_list[0], sort_list[1], sort_list[2], sort_list[3], sort_list[4], sort_list[5], sort_list[6]
      spend_total = df_spend_total.loc[     (df_spend_total.index.get_level_values('년') == year) 
                                          & (df_spend_total.index.get_level_values('월') == month) 
                                          & (df_spend_total.index.get_level_values('가맹점소재지1') == region1)   
                                          & (df_spend_total.index.get_level_values('가맹점소재지2') == region2)
                                          & (df_spend_total.index.get_level_values('성별') == gender) 
                                          & (df_spend_total.index.get_level_values('연령대별') == age)
                                          & (df_spend_total.index.get_level_values('연평균소득추정') == income)]['이용금액']
      
      spend_total = float(spend_total)    
      df_spend_part.at[index, '총 이용금액'] = spend_total
      
  df_spend_part['이용금액%'] = df_spend_part['이용금액'] / df_spend_part['총 이용금액'] 

  """ 데이터셋 형태로 만들기 """

  df_final = df_spend_part.copy()
  df_final.drop(['이용금액', '총 이용금액'], axis=1, inplace=True)
  df_final = df_final.reset_index(level=[0])
  df_final = pd.pivot_table(df_final, values='이용금액%', columns='업종', 
                                    index=['년','월','가맹점소재지1','가맹점소재지2', '성별', '연령대별', '연평균소득추정'])
  df_final = df_final.fillna(0) # NaN -> 0
  df_final["합계%"] = df_final.sum(axis=1)

  """ reverse dict """ 

  # load data
  import pickle
  with open(data_dir + 'dict_pickle/region1_dict.pickle', 'rb') as fr:
      region1_dict = pickle.load(fr)
  with open(data_dir + 'dict_pickle/region2_dict.pickle', 'rb') as fr:
      region2_dict = pickle.load(fr)
  with open(data_dir + 'dict_pickle/gender_dict.pickle', 'rb') as fr:
      gender_dict = pickle.load(fr)
  with open(data_dir + 'dict_pickle/age_dict.pickle', 'rb') as fr:
      age_dict = pickle.load(fr)
  with open(data_dir + 'dict_pickle/income_dict.pickle', 'rb') as fr:
      income_dict = pickle.load(fr)
  with open(data_dir + 'dict_pickle/store_dict.pickle', 'rb') as fr:
      store_dict = pickle.load(fr)

  region1_dict = {value : key for (key, value) in region1_dict.items()}
  region2_dict = {value : key for (key, value) in region2_dict.items()}
  gender_dict = {value : key for (key, value) in gender_dict.items()}
  age_dict = {value : key for (key, value) in age_dict.items()}
  income_dict = {value : key for (key, value) in income_dict.items()}
  store_dict = {value : key for (key, value) in store_dict.items()}


  df_final.rename(index = region1_dict, level=2, inplace=True)
  df_final.rename(index = region2_dict, level=3, inplace=True)
  df_final.rename(index = gender_dict, level=4, inplace=True)
  df_final.rename(index = age_dict, level=5, inplace=True)
  df_final.rename(index = income_dict, level=6, inplace=True)
  df_final.rename(columns = store_dict, inplace = True)
  df_final.reset_index(inplace=True)

  print('최종 데이터: ', df_final.shape)

  all_data.append(df_final)

frame = pd.concat(all_data, axis=0, ignore_index=True)
frame.to_feather(data_dir + 'processed_data_1901_2004_ver2.ftr')

Mounted at /content/drive

  0%|          | 0/16 [00:00<?, ?it/s]

월별 데이터:  (5286559, 10)

  6%|▋         | 1/16 [11:39<2:54:54, 699.63s/it]

최종 데이터:  (20033, 26)
월별 데이터:  (5126968, 10)

 12%|█▎        | 2/16 [23:22<2:43:41, 701.53s/it]

최종 데이터:  (20117, 26)
월별 데이터:  (5527294, 10)

 19%|█▉        | 3/16 [35:28<2:34:22, 712.53s/it]

최종 데이터:  (20241, 26)
월별 데이터:  (5496016, 10)

 25%|██▌       | 4/16 [47:25<2:22:54, 714.51s/it]

최종 데이터:  (20341, 26)
월별 데이터:  (5819494, 10)

 31%|███▏      | 5/16 [1:00:55<2:17:19, 749.01s/it]

최종 데이터:  (22588, 26)
월별 데이터:  (5650129, 10)

 38%|███▊      | 6/16 [1:14:21<2:08:02, 768.27s/it]

최종 데이터:  (22233, 26)
월별 데이터:  (5662563, 10)

 44%|████▍     | 7/16 [1:27:29<1:56:13, 774.81s/it]

최종 데이터:  (22363, 26)
월별 데이터:  (5721939, 10)

 50%|█████     | 8/16 [1:40:53<1:44:31, 783.97s/it]

최종 데이터:  (22625, 26)
월별 데이터:  (5544489, 10)

 56%|█████▋    | 9/16 [1:53:56<1:31:25, 783.60s/it]

최종 데이터:  (22378, 26)
월별 데이터:  (5705562, 10)

 62%|██████▎   | 10/16 [2:07:10<1:18:41, 786.87s/it]

최종 데이터:  (22608, 26)
월별 데이터:  (5605806, 10)

 69%|██████▉   | 11/16 [2:20:18<1:05:36, 787.30s/it]

최종 데이터:  (22293, 26)
월별 데이터:  (5523888, 10)

 75%|███████▌  | 12/16 [2:32:28<51:19, 769.91s/it]

최종 데이터:  (20460, 26)
월별 데이터:  (5432374, 10)

 81%|████████▏ | 13/16 [2:44:32<37:47, 755.98s/it]

최종 데이터:  (20397, 26)
월별 데이터:  (4993482, 10)

 88%|████████▊ | 14/16 [2:55:09<23:59, 719.92s/it]

최종 데이터:  (18499, 26)
월별 데이터:  (4980641, 10)

 94%|█████████▍| 15/16 [3:06:36<11:50, 710.01s/it]

최종 데이터:  (19757, 26)
월별 데이터:  (5255586, 10)

100%|██████████| 16/16 [3:18:25<00:00, 744.09s/it]

최종 데이터:  (20101, 26)

In [1]:
""" 데이터 확인 """

from google.colab import drive
import pandas as pd

drive.mount('/content/drive')
data_dir = '/content/drive/My Drive/영빈/data/'
pd.read_feather(data_dir + 'clustering_data_1901_2004_ver2.ftr')

Mounted at /content/drive

           년  월 가맹점소재지1 가맹점소재지2  성별  ... 전자상거래      정보통신      종합소매        주거  합계%
0       2019  1     강원도     강릉시  남성  ...   0.0  0.000000  0.096038  0.071226  1.0
1       2019  1     강원도     강릉시  남성  ...   0.0  0.050118  0.079024  0.063310  1.0
2       2019  1     강원도     강릉시  남성  ...   0.0  0.047542  0.076211  0.062296  1.0
3       2019  1     강원도     강릉시  남성  ...   0.0  0.000000  0.081791  0.063435  1.0
4       2019  1     강원도     강릉시  남성  ...   0.0  0.000000  0.097668  0.069804  1.0
...      ... ..     ...     ...  ..  ...   ...       ...       ...       ...  ...
337029  2020  4    충청북도     충주시  여성  ...   0.0  0.053238  0.080063  0.068284  1.0
337030  2020  4    충청북도     충주시  여성  ...   0.0  0.046633  0.075815  0.063349  1.0
337031  2020  4    충청북도     충주시  여성  ...   0.0  0.000000  0.123454  0.081617  1.0
337032  2020  4    충청북도     충주시  여성  ...   0.0  0.000000  0.185651  0.000000  1.0
337033  2020  4    충청북도     충주시  여성  ...   0.0  0.000000  0.000000  0.000000  1.0

[337034 rows x 26 columns]

# 데이터 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
import pandas as pd
import numpy as np
import unicodedata
import os
import time
from tqdm import tqdm

data_dir = '/content/drive/My Drive/Colab Notebooks/개인연구/data/'
data = pd.read_feather(data_dir + 'data_1901_2004_classified_2.ftr', # 88656835 rows
                       columns=['년', '월', '가맹점소재지1', '가맹점소재지2', '성별', '연령대별', '연평균소득추정','이용금액', '이용건수', '업종']) # index col 빼고 읽어오기
data.info()

Mounted at /content/drive
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88656835 entries, 0 to 88656834
Data columns (total 10 columns):
 #   Column   Dtype
---  ------   -----
 0   년        int16
 1   월        int8
 2   가맹점소재지1  int8
 3   가맹점소재지2  int16
 4   성별       int8
 5   연령대별     int8
 6   연평균소득추정  int8
 7   이용금액     float32
 8   이용건수     int32
 9   업종       int8
dtypes: float32(1), int16(2), int32(1), int8(6)
memory usage: 1.5 GB

In [ ]:
data

             년  월  가맹점소재지1  가맹점소재지2  성별  연령대별  연평균소득추정       이용금액  이용건수  업종
0         2019  1        0        3   1     3        3  1070000.0     4  18
1         2019  1        0        3   0     0        3    48000.0     4   5
2         2019  1        0        3   0     4        5   735000.0     4   1
3         2019  1        0        3   0     2        5  1041289.0    16  14
4         2019  1        0        3   1     3        5   426766.0    13  14
...        ... ..      ...      ...  ..   ...      ...        ...   ...  ..
88656830  2020  4       16      183   1     4        6   303000.0    17   9
88656831  2020  4       16      183   1     5        0   100000.0     5   9
88656832  2020  4       16      183   1     5        3    89000.0     7   9
88656833  2020  4       16      183   1     5        4   636000.0    29   9
88656834  2020  4       16      183   1     5        5   224000.0     8   9

[88656835 rows x 10 columns]

# 데이터 월별 필터링

In [ ]:
""" 2020년 4월 데이터로 연습 """

df = data[(data['년'] == 2020) & (data['월'] == 4)]
print(df.shape)
sorted(df.업종.unique())

(5336937, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# 전처리
- col: 업종 20개
  - 식당, 자동차서비스, 보건위생, 식당, 주점 등
- row: 고객 그룹
  - 지역, 성별, 연령대별, 연평균소득추정 
- value: 이용금액(%)

In [ ]:
""" 고객 그룹별 업종 이용금액 """

grouped = df.groupby(['년', '월', '가맹점소재지1', '가맹점소재지2', '성별','연령대별', '연평균소득추정', '업종']) 
grouped_sum = grouped['이용금액'].sum()
df_spend_part = pd.DataFrame(grouped_sum)

# Calculate logarithm on column 
df_spend_part['이용금액'] = np.log10(df_spend_part['이용금액'])
df_spend_part

                                               이용금액
년    월 가맹점소재지1 가맹점소재지2 성별 연령대별 연평균소득추정 업종
2020 4 0       3       0  0    0       1   5.106562
                                       2   6.132490
                                       3   6.458940
                                       5   5.214844
                                       6   5.091315
...                                             ...
       16      183     1  5    7       3   5.933285
                                       9   5.628675
                                       12  5.051153
                                       17  5.059980
                               8       9   4.687083

[217756 rows x 1 columns]

In [ ]:
""" 고객 그룹별 전체 이용금액 (로그 씌운 업종 이용금액들의 합) """

grouped = df_spend_part.groupby(['년', '월', '가맹점소재지1', '가맹점소재지2', '성별','연령대별', '연평균소득추정']) 
grouped_sum = grouped['이용금액'].sum()
df_spend_total = pd.DataFrame(grouped_sum)
df_spend_total

                                              이용금액
년    월 가맹점소재지1 가맹점소재지2 성별 연령대별 연평균소득추정
2020 4 0       3       0  0    0         82.491470
                               3        127.923744
                               4        136.681732
                               5        117.721809
                               6         75.404739
...                                            ...
       16      183     1  5    4        124.694191
                               5        121.256287
                               6         54.052574
                               7         27.255302
                               8          4.687083

[20101 rows x 1 columns]

In [ ]:
""" 이용금액 % 생성 """

from tqdm import tqdm
for index,row in tqdm(df_spend_part.iterrows()):
    
    sort_list = list(index)[:-1] # e.g., 2019년 1월 서울시 노원구 남성 20대 B1 (업종제외)
    year, month, region1, region2, gender, age, income = sort_list[0], sort_list[1], sort_list[2], sort_list[3], sort_list[4], sort_list[5], sort_list[6]
    spend_total = df_spend_total.loc[     (df_spend_total.index.get_level_values('년') == year) 
                                        & (df_spend_total.index.get_level_values('월') == month) 
                                        & (df_spend_total.index.get_level_values('가맹점소재지1') == region1)   
                                        & (df_spend_total.index.get_level_values('가맹점소재지2') == region2)
                                        & (df_spend_total.index.get_level_values('성별') == gender) 
                                        & (df_spend_total.index.get_level_values('연령대별') == age)
                                        & (df_spend_total.index.get_level_values('연평균소득추정') == income)]['이용금액']
    
    spend_total = float(spend_total)    
    df_spend_part.at[index, '총 이용금액'] = spend_total
    
df_spend_part['이용금액%'] = df_spend_part['이용금액'] / df_spend_part['총 이용금액'] 
df_spend_part

217756it [14:35, 248.77it/s]

                                               이용금액     총 이용금액     이용금액%
년    월 가맹점소재지1 가맹점소재지2 성별 연령대별 연평균소득추정 업종
2020 4 0       3       0  0    0       1   5.106562  82.491470  0.061904
                                       2   6.132490  82.491470  0.074341
                                       3   6.458940  82.491470  0.078298
                                       5   5.214844  82.491470  0.063217
                                       6   5.091315  82.491470  0.061719
...                                             ...        ...       ...
       16      183     1  5    7       3   5.933285  27.255302  0.217693
                                       9   5.628675  27.255302  0.206517
                                       12  5.051153  27.255302  0.185327
                                       17  5.059980  27.255302  0.185651
                               8       9   4.687083   4.687083  1.000000

[217756 rows x 3 columns]

In [ ]:
""" 데이터셋 형태로 만들기 """

df_final = df_spend_part.copy()
df_final.drop(['이용금액', '총 이용금액'], axis=1, inplace=True)
df_final = df_final.reset_index(level=[0])
df_final = pd.pivot_table(df_final, values='이용금액%', columns='업종', 
                                   index=['년','월','가맹점소재지1','가맹점소재지2', '성별', '연령대별', '연평균소득추정'])
df_final = df_final.fillna(0) # NaN -> 0
df_final["합계%"] = df_final.sum(axis=1)
df_final

업종                                             0         1  ...        19  합계%
년    월 가맹점소재지1 가맹점소재지2 성별 연령대별 연평균소득추정                      ...
2020 4 0       3       0  0    0        0.000000  0.061904  ...  0.000000  1.0
                               3        0.044619  0.050871  ...  0.042867  1.0
                               4        0.044184  0.048338  ...  0.040727  1.0
                               5        0.000000  0.053390  ...  0.037842  1.0
                               6        0.000000  0.000000  ...  0.000000  1.0
...                                          ...       ...  ...       ...  ...
       16      183     1  5    4        0.058772  0.057113  ...  0.000000  1.0
                               5        0.057335  0.059499  ...  0.000000  1.0
                               6        0.000000  0.000000  ...  0.000000  1.0
                               7        0.000000  0.000000  ...  0.000000  1.0
                               8        0.000000  0.000000  ...  0.000000  1.0

[20101 rows x 21 columns]

In [ ]:
""" reverse dict """ 

# load data
import pickle
with open(data_dir + 'dict_pickle/region1_dict.pickle', 'rb') as fr:
    region1_dict = pickle.load(fr)
with open(data_dir + 'dict_pickle/region2_dict.pickle', 'rb') as fr:
    region2_dict = pickle.load(fr)
with open(data_dir + 'dict_pickle/gender_dict.pickle', 'rb') as fr:
    gender_dict = pickle.load(fr)
with open(data_dir + 'dict_pickle/age_dict.pickle', 'rb') as fr:
    age_dict = pickle.load(fr)
with open(data_dir + 'dict_pickle/income_dict.pickle', 'rb') as fr:
    income_dict = pickle.load(fr)
with open(data_dir + 'dict_pickle/store_dict.pickle', 'rb') as fr:
    store_dict = pickle.load(fr)

region1_dict = {value : key for (key, value) in region1_dict.items()}
region2_dict = {value : key for (key, value) in region2_dict.items()}
gender_dict = {value : key for (key, value) in gender_dict.items()}
age_dict = {value : key for (key, value) in age_dict.items()}
income_dict = {value : key for (key, value) in income_dict.items()}
store_dict = {value : key for (key, value) in store_dict.items()}


df_final.rename(index = region1_dict, level=2, inplace=True)
df_final.rename(index = region2_dict, level=3, inplace=True)
df_final.rename(index = gender_dict, level=4, inplace=True)
df_final.rename(index = age_dict, level=5, inplace=True)
df_final.rename(index = income_dict, level=6, inplace=True)
df_final.rename(columns = store_dict, inplace = True)
df_final.reset_index(inplace=True)
df_final

업종        년  월 가맹점소재지1 가맹점소재지2  성별  ...     전자상거래      종합소매        주점        학원  합계%
0      2020  4     강원도     강릉시  남성  ...  0.000000  0.083156  0.077291  0.000000  1.0
1      2020  4     강원도     강릉시  남성  ...  0.034764  0.063232  0.059732  0.042867  1.0
2      2020  4     강원도     강릉시  남성  ...  0.034739  0.060024  0.056380  0.040727  1.0
3      2020  4     강원도     강릉시  남성  ...  0.000000  0.066439  0.062432  0.037842  1.0
4      2020  4     강원도     강릉시  남성  ...  0.000000  0.089626  0.079694  0.000000  1.0
...     ... ..     ...     ...  ..  ...       ...       ...       ...       ...  ...
20096  2020  4    충청북도     충주시  여성  ...  0.000000  0.066462  0.055450  0.000000  1.0
20097  2020  4    충청북도     충주시  여성  ...  0.000000  0.067109  0.054409  0.000000  1.0
20098  2020  4    충청북도     충주시  여성  ...  0.000000  0.122830  0.000000  0.000000  1.0
20099  2020  4    충청북도     충주시  여성  ...  0.000000  0.185651  0.000000  0.000000  1.0
20100  2020  4    충청북도     충주시  여성  ...  0.000000  0.000000  0.000000  0.000000  1.0

[20101 rows x 28 columns]