ver1: 기존에 프로젝트랩에서 하던 대로, 사용금액의 비율% 계산
- data_1901_2004_classified_2_outliered -> 전처리 -> processed_data_1901_2004_ver1

# ---자동화---

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
import pandas as pd
import numpy as np
import unicodedata
import os
import time
from tqdm import tqdm

data_dir = '/content/drive/My Drive/영빈/data/'
data = pd.read_feather(data_dir + 'data_1901_2004_classified_2_outliered.ftr', # 
                       columns=['년', '월', '가맹점소재지1', '가맹점소재지2', '성별', '연령대별', '연평균소득추정','이용금액', '이용건수', '업종']) # index col 빼고 읽어오기


""" --------------- 날짜 루프 ------------------ """


date_list = [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912,
             202001, 202002, 202003, 202004]

all_data = []
from tqdm import tqdm
for date in tqdm(date_list):

  year = int(str(date)[:4]) # 2019
  month = str(date)[4:] # 01

  if month[0] == '0':
    month = int(month[1]) # 1
  else:
    month = int(month) 
  
  """ 데이터 월별 필터링 """

  df = data[(data['년']==year) & (data['월']==month)]
  print('월별 데이터: ',df.shape)



  """ 전처리 """



  """ 고객 그룹별 전체 이용금액 """

  grouped = df.groupby(['년', '월', '가맹점소재지1', '가맹점소재지2', '성별','연령대별', '연평균소득추정']) 
  grouped_sum = grouped['이용금액'].sum()
  df_spend_total = pd.DataFrame(grouped_sum)
  #df_spend_total.drop('x', level = 6, axis=0, inplace=True) # 연평균소득추정=x 삭제
  #df_spend_total = df_spend_total.fillna(0) # NaN -> 0
  ##df_spend_total[df_spend_total['이용금액']==0].index # 고소득층에서 이용금액이 0인 경우가 많음 (B8~B10)
  df_spend_total

  """ 고객 그룹별 업종 이용금액 """

  grouped = df.groupby(['년', '월', '가맹점소재지1', '가맹점소재지2', '성별','연령대별', '연평균소득추정', '업종']) 
  grouped_sum = grouped['이용금액'].sum()
  df_spend_part = pd.DataFrame(grouped_sum)
  df_spend_part

  """ 이용금액 % 생성 """

  for index,row in df_spend_part.iterrows():
      
      sort_list = list(index)[:-1] # e.g., (업종제외) 2019년 1월 서울시 노원구 남성 20대 B1
      year, month, region1, region2, gender, age, income = sort_list[0], sort_list[1], sort_list[2], sort_list[3], sort_list[4], sort_list[5], sort_list[6]
      spend_total = df_spend_total.loc[     (df_spend_total.index.get_level_values('년') == year) 
                                          & (df_spend_total.index.get_level_values('월') == month) 
                                          & (df_spend_total.index.get_level_values('가맹점소재지1') == region1)   
                                          & (df_spend_total.index.get_level_values('가맹점소재지2') == region2)
                                          & (df_spend_total.index.get_level_values('성별') == gender) 
                                          & (df_spend_total.index.get_level_values('연령대별') == age)
                                          & (df_spend_total.index.get_level_values('연평균소득추정') == income)]['이용금액']
      
      spend_total = int(spend_total)    
      df_spend_part.at[index, '총 이용금액'] = spend_total
      
  df_spend_part['이용금액%'] = df_spend_part['이용금액'] / df_spend_part['총 이용금액'] # * 100

  """ 데이터셋 형태로 만들기 """

  df_final = df_spend_part.copy()
  df_final.drop(['이용금액', '총 이용금액'], axis=1, inplace=True)
  df_final = df_final.reset_index(level=[0])
  df_final = pd.pivot_table(df_final, values='이용금액%', columns='업종', 
                                    index=['년','월','가맹점소재지1','가맹점소재지2', '성별', '연령대별', '연평균소득추정'])
  df_final = df_final.fillna(0) # NaN -> 0
  df_final["합계%"] = df_final.sum(axis=1)

  """ reverse dict """ 

  # load data
  import pickle
  with open(data_dir + 'dict_pickle/region1_dict.pickle', 'rb') as fr:
      region1_dict = pickle.load(fr)
  with open(data_dir + 'dict_pickle/region2_dict.pickle', 'rb') as fr:
      region2_dict = pickle.load(fr)
  with open(data_dir + 'dict_pickle/gender_dict.pickle', 'rb') as fr:
      gender_dict = pickle.load(fr)
  with open(data_dir + 'dict_pickle/age_dict.pickle', 'rb') as fr:
      age_dict = pickle.load(fr)
  with open(data_dir + 'dict_pickle/income_dict.pickle', 'rb') as fr:
      income_dict = pickle.load(fr)
  with open(data_dir + 'dict_pickle/store_dict.pickle', 'rb') as fr:
      store_dict = pickle.load(fr)

  region1_dict = {value : key for (key, value) in region1_dict.items()}
  region2_dict = {value : key for (key, value) in region2_dict.items()}
  gender_dict = {value : key for (key, value) in gender_dict.items()}
  age_dict = {value : key for (key, value) in age_dict.items()}
  income_dict = {value : key for (key, value) in income_dict.items()}
  store_dict = {value : key for (key, value) in store_dict.items()}

  df_final.rename(index = region1_dict, level=2, inplace=True)
  df_final.rename(index = region2_dict, level=3, inplace=True)
  df_final.rename(index = gender_dict, level=4, inplace=True)
  df_final.rename(index = age_dict, level=5, inplace=True)
  df_final.rename(index = income_dict, level=6, inplace=True)
  df_final.rename(columns = store_dict, inplace = True)
  df_final.reset_index(inplace=True)
  print('최종 데이터: ', df_final.shape)

  all_data.append(df_final)

frame = pd.concat(all_data, axis=0, ignore_index=True)
frame.to_feather(data_dir + 'processed_data_1901_2004_ver1.ftr')

Mounted at /content/drive

  0%|          | 0/16 [00:00<?, ?it/s]

월별 데이터:  (5286559, 10)

  6%|▋         | 1/16 [15:02<3:45:34, 902.32s/it]

최종 데이터:  (20033, 26)
월별 데이터:  (5126968, 10)

 12%|█▎        | 2/16 [30:04<3:30:30, 902.20s/it]

최종 데이터:  (20117, 26)
월별 데이터:  (5527294, 10)

 19%|█▉        | 3/16 [45:39<3:18:44, 917.24s/it]

최종 데이터:  (20241, 26)
월별 데이터:  (5496016, 10)

 25%|██▌       | 4/16 [1:01:10<3:04:33, 922.78s/it]

최종 데이터:  (20341, 26)
월별 데이터:  (5819494, 10)

 31%|███▏      | 5/16 [1:18:14<2:55:51, 959.26s/it]

최종 데이터:  (22588, 26)
월별 데이터:  (5650129, 10)

 38%|███▊      | 6/16 [1:35:05<2:42:48, 976.82s/it]

최종 데이터:  (22233, 26)
월별 데이터:  (5662563, 10)

 44%|████▍     | 7/16 [1:51:47<2:27:45, 985.02s/it]

최종 데이터:  (22363, 26)
월별 데이터:  (5721939, 10)

 50%|█████     | 8/16 [2:08:29<2:12:02, 990.27s/it]

최종 데이터:  (22625, 26)
월별 데이터:  (5544489, 10)

 56%|█████▋    | 9/16 [2:24:45<1:55:01, 985.92s/it]

최종 데이터:  (22378, 26)
월별 데이터:  (5705562, 10)

 62%|██████▎   | 10/16 [2:41:33<1:39:16, 992.67s/it]

최종 데이터:  (22608, 26)
월별 데이터:  (5605806, 10)

 69%|██████▉   | 11/16 [2:57:28<1:21:46, 981.37s/it]

최종 데이터:  (22293, 26)
월별 데이터:  (5523888, 10)

 75%|███████▌  | 12/16 [3:10:37<1:01:31, 922.85s/it]

최종 데이터:  (20460, 26)
월별 데이터:  (5432374, 10)

 81%|████████▏ | 13/16 [3:22:55<43:19, 866.56s/it]

최종 데이터:  (20397, 26)
월별 데이터:  (4993482, 10)

 88%|████████▊ | 14/16 [3:33:50<26:45, 802.86s/it]

최종 데이터:  (18499, 26)
월별 데이터:  (4980641, 10)

 94%|█████████▍| 15/16 [3:45:23<12:49, 769.69s/it]

최종 데이터:  (19757, 26)
월별 데이터:  (5255586, 10)

100%|██████████| 16/16 [3:57:12<00:00, 889.54s/it]

최종 데이터:  (20101, 26)

## 결과 확인

In [ ]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')
data_dir = '/content/drive/My Drive/영빈/data/'
df = pd.read_feather(data_dir + 'clustering_data_1901_2004_ver{0}.ftr'.format(1))
df

Mounted at /content/drive

           년  월 가맹점소재지1 가맹점소재지2  성별  ... 전자상거래      정보통신      종합소매        주거  합계%
0       2019  1     강원도     강릉시  남성  ...   0.0  0.000000  0.211340  0.003523  1.0
1       2019  1     강원도     강릉시  남성  ...   0.0  0.000284  0.250780  0.006281  1.0
2       2019  1     강원도     강릉시  남성  ...   0.0  0.000169  0.190898  0.006304  1.0
3       2019  1     강원도     강릉시  남성  ...   0.0  0.000000  0.177576  0.003322  1.0
4       2019  1     강원도     강릉시  남성  ...   0.0  0.000000  0.183910  0.002580  1.0
...      ... ..     ...     ...  ..  ...   ...       ...       ...       ...  ...
337029  2020  4    충청북도     충주시  여성  ...   0.0  0.000408  0.243995  0.014730  1.0
337030  2020  4    충청북도     충주시  여성  ...   0.0  0.000167  0.226666  0.010410  1.0
337031  2020  4    충청북도     충주시  여성  ...   0.0  0.000000  0.264008  0.001485  1.0
337032  2020  4    충청북도     충주시  여성  ...   0.0  0.000000  0.060672  0.000000  1.0
337033  2020  4    충청북도     충주시  여성  ...   0.0  0.000000  0.000000  0.000000  1.0

[337034 rows x 26 columns]

## features 평균 그래프

In [ ]:
""" 코랩 한글 """

!pip install matplotlib -U
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf
# 런타임 재시작

In [ ]:
# 코랩 한글
import matplotlib.pyplot as plt
plt.rcParams['font.family']=['NanumGothic', 'sans-serif']
plt.rcParams['axes.unicode_minus'] = False

import seaborn as sns
wedgeprops={'width': 0.7, 'edgecolor': 'w', 'linewidth': 5}
sns.set_palette("pastel")

features = ['가정용품', '개인미용', '개인운송', '교육서비스', '기타', '대형판매', '보건', '보험', '숙박서비스',
       '식료품', '여객운송', '오락_문화', '음식점', '의류_잡화', '전자상거래', '정보통신', '종합소매', '주거']

means = df[features].mean().sort_values(ascending=False)

plt.rcParams["figure.figsize"] = (10,6)
means.plot(kind='bar')
plt.xticks(rotation=30)
plt.title('features 평균%', size=20)
plt.grid(True, axis='y')
print(means.index)

# 데이터 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import unicodedata
import os
import time
from tqdm import tqdm

data_dir = '/content/drive/My Drive/영빈/data/'
data = pd.read_feather(data_dir + 'data_1901_2004_classified_2_.ftr', # 88656835 rows
                       columns=['년', '월', '가맹점소재지1', '가맹점소재지2', '성별', '연령대별', '연평균소득추정','이용금액', '이용건수', '업종']) # index col 빼고 읽어오기
data.info()

In [ ]:
data.sample(5)

             년   월 가맹점소재지1 가맹점소재지2  성별    연령대별 연평균소득추정       이용금액  이용건수     업종
9943776   2019   4     경기도     광명시  남성     40대      B4   244300.0    14     보건
69768192  2020   1   서울특별시     노원구  여성     50대      B5    73000.0     7    음식점
30216974  2019   4    전라남도     목포시  여성  60대 이상      B4   114000.0     3  오락_문화
57075534  2019  12   부산광역시    부산진구  남성     30대      B3  1238090.0    17     보건
74349484  2020   3    경상북도     칠곡군  여성     30대      B3   436500.0    13  오락_문화

# 데이터 월별 필터링

In [ ]:
""" 2019년 6월 데이터로 연습 """

df = data[(data['년'] == 2020) & (data['월'] == 4)]
print(df.shape)
sorted(df.업종.unique())

(5336937, 10)

['가정용품',
 '개인미용',
 '개인운송',
 '교육서비스',
 '기타',
 '대형판매',
 '보건',
 '보험',
 '숙박서비스',
 '식료품',
 '여객운송',
 '오락_문화',
 '음식점',
 '의류_잡화',
 '전자상거래',
 '정보통신',
 '종합소매',
 '주거']

# 전처리
- col: 업종 20개
  - 식당, 자동차서비스, 보건위생, 식당, 주점 등
- row: 고객 그룹
  - 지역, 성별, 연령대별, 연평균소득추정 
- value: 이용금액(%)

In [ ]:
""" 고객 그룹별 전체 이용금액 """

grouped = df.groupby(['년', '월', '가맹점소재지1', '가맹점소재지2', '성별','연령대별', '연평균소득추정']) # ['년', '월', '가맹점소재지1', '가맹점소재지2', '성별','연령대별', '연평균소득추정']
grouped_sum = grouped['이용금액'].sum()
df_spend_total = pd.DataFrame(grouped_sum)
#df_spend_total.drop('x', level = 6, axis=0, inplace=True) # 연평균소득추정=x 삭제
#df_spend_total = df_spend_total.fillna(0) # NaN -> 0
##df_spend_total[df_spend_total['이용금액']==0].index # 고소득층에서 이용금액이 0인 경우가 많음 (B8~B10)
df_spend_total

                                               이용금액
년    월 가맹점소재지1 가맹점소재지2 성별 연령대별 연평균소득추정
2020 4 0       3       0  0    0         28671304.0
                               3        480193216.0
                               4        752120896.0
                               5        326631392.0
                               6         22937610.0
...                                             ...
       16      183     1  5    4        828204928.0
                               5        636221184.0
                               6         17235680.0
                               7          1892320.0
                               8            48650.0

[20101 rows x 1 columns]

In [ ]:
""" 고객 그룹별 업종 이용금액 """

grouped = df.groupby(['년', '월', '가맹점소재지1', '가맹점소재지2', '성별','연령대별', '연평균소득추정', '업종']) # ['업종', '년', '월', '가맹점소재지1', '가맹점소재지2', '성별','연령대별', '연평균소득추정']
grouped_sum = grouped['이용금액'].sum()
df_spend_part = pd.DataFrame(grouped_sum)
df_spend_part

                                                이용금액
년    월 가맹점소재지1 가맹점소재지2 성별 연령대별 연평균소득추정 업종
2020 4 0       3       0  0    0       1    127809.0
                                       2   1356720.0
                                       3   2877000.0
                                       5    164000.0
                                       6    123400.0
...                                              ...
       16      183     1  5    7       3    857600.0
                                       9    425280.0
                                       12   112500.0
                                       16   114810.0
                               8       9     48650.0

[210846 rows x 1 columns]

In [ ]:
""" 이용금액 % 생성 """

from tqdm import tqdm
for index,row in tqdm(df_spend_part.iterrows()):
    
    sort_list = list(index)[:-1] # e.g., (업종제외) 2019년 1월 서울시 노원구 남성 20대 B1
    year, month, region1, region2, gender, age, income = sort_list[0], sort_list[1], sort_list[2], sort_list[3], sort_list[4], sort_list[5], sort_list[6]
    spend_total = df_spend_total.loc[     (df_spend_total.index.get_level_values('년') == year) 
                                        & (df_spend_total.index.get_level_values('월') == month) 
                                        & (df_spend_total.index.get_level_values('가맹점소재지1') == region1)   
                                        & (df_spend_total.index.get_level_values('가맹점소재지2') == region2)
                                        & (df_spend_total.index.get_level_values('성별') == gender) 
                                        & (df_spend_total.index.get_level_values('연령대별') == age)
                                        & (df_spend_total.index.get_level_values('연평균소득추정') == income)]['이용금액']
    
    spend_total = int(spend_total)    
    df_spend_part.at[index, '총 이용금액'] = spend_total
    
df_spend_part['이용금액%'] = df_spend_part['이용금액'] / df_spend_part['총 이용금액'] # * 100
df_spend_part

210846it [13:48, 254.56it/s]

                                                이용금액      총 이용금액     이용금액%
년    월 가맹점소재지1 가맹점소재지2 성별 연령대별 연평균소득추정 업종
2020 4 0       3       0  0    0       1    127809.0  28671304.0  0.004458
                                       2   1356720.0  28671304.0  0.047320
                                       3   2877000.0  28671304.0  0.100344
                                       5    164000.0  28671304.0  0.005720
                                       6    123400.0  28671304.0  0.004304
...                                              ...         ...       ...
       16      183     1  5    7       3    857600.0   1892320.0  0.453200
                                       9    425280.0   1892320.0  0.224740
                                       12   112500.0   1892320.0  0.059451
                                       16   114810.0   1892320.0  0.060672
                               8       9     48650.0     48650.0  1.000000

[210846 rows x 3 columns]

In [ ]:
""" 데이터셋 형태로 만들기 """

df_final = df_spend_part.copy()
df_final.drop(['이용금액', '총 이용금액'], axis=1, inplace=True)
df_final = df_final.reset_index(level=[0])
df_final = pd.pivot_table(df_final, values='이용금액%', columns='업종', 
                                   index=['년','월','가맹점소재지1','가맹점소재지2', '성별', '연령대별', '연평균소득추정'])
df_final = df_final.fillna(0) # NaN -> 0
df_final["합계%"] = df_final.sum(axis=1)
df_final

업종                                             0         1  ...   19  합계%
년    월 가맹점소재지1 가맹점소재지2 성별 연령대별 연평균소득추정                      ...
2019 6 0       3       0  0    0        0.000000  0.000409  ...  0.0  1.0
                               1        0.000000  0.001626  ...  0.0  1.0
                               2        0.000000  0.000000  ...  0.0  1.0
                               3        0.000841  0.005684  ...  0.0  1.0
                               4        0.002291  0.007227  ...  0.0  1.0
...                                          ...       ...  ...  ...  ...
       16      183     1  5    5        0.022630  0.025637  ...  0.0  1.0
                               6        0.000000  0.000000  ...  0.0  1.0
                               7        0.000000  0.000000  ...  0.0  1.0
                               8        0.000000  0.000000  ...  0.0  1.0
                               9        0.000000  0.000000  ...  0.0  1.0

[22233 rows x 21 columns]

In [ ]:
""" reverse dict """ 

# load data
import pickle
with open(data_dir + 'dict_pickle/region1_dict.pickle', 'rb') as fr:
    region1_dict = pickle.load(fr)
with open(data_dir + 'dict_pickle/region2_dict.pickle', 'rb') as fr:
    region2_dict = pickle.load(fr)
with open(data_dir + 'dict_pickle/gender_dict.pickle', 'rb') as fr:
    gender_dict = pickle.load(fr)
with open(data_dir + 'dict_pickle/age_dict.pickle', 'rb') as fr:
    age_dict = pickle.load(fr)
with open(data_dir + 'dict_pickle/income_dict.pickle', 'rb') as fr:
    income_dict = pickle.load(fr)
with open(data_dir + 'dict_pickle/store_dict.pickle', 'rb') as fr:
    store_dict = pickle.load(fr)

region1_dict = {value : key for (key, value) in region1_dict.items()}
region2_dict = {value : key for (key, value) in region2_dict.items()}
gender_dict = {value : key for (key, value) in gender_dict.items()}
age_dict = {value : key for (key, value) in age_dict.items()}
income_dict = {value : key for (key, value) in income_dict.items()}
store_dict = {value : key for (key, value) in store_dict.items()}


df_final.rename(index = region1_dict, level=2, inplace=True)
df_final.rename(index = region2_dict, level=3, inplace=True)
df_final.rename(index = gender_dict, level=4, inplace=True)
df_final.rename(index = age_dict, level=5, inplace=True)
df_final.rename(index = income_dict, level=6, inplace=True)
df_final.rename(columns = store_dict, inplace = True)
df_final.reset_index(inplace=True)
df_final

업종        년  월 가맹점소재지1 가맹점소재지2  성별  ... 전자상거래      종합소매        주점   학원  합계%
0      2019  6     강원도     강릉시  남성  ...   0.0  0.268119  0.120184  0.0  1.0
1      2019  6     강원도     강릉시  남성  ...   0.0  0.256918  0.085895  0.0  1.0
2      2019  6     강원도     강릉시  남성  ...   0.0  0.226382  0.000000  0.0  1.0
3      2019  6     강원도     강릉시  남성  ...   0.0  0.248362  0.099356  0.0  1.0
4      2019  6     강원도     강릉시  남성  ...   0.0  0.201147  0.080620  0.0  1.0
...     ... ..     ...     ...  ..  ...   ...       ...       ...  ...  ...
22228  2019  6    충청북도     충주시  여성  ...   0.0  0.199170  0.011297  0.0  1.0
22229  2019  6    충청북도     충주시  여성  ...   0.0  0.135264  0.001568  0.0  1.0
22230  2019  6    충청북도     충주시  여성  ...   0.0  0.000000  0.013237  0.0  1.0
22231  2019  6    충청북도     충주시  여성  ...   0.0  0.000000  0.000000  0.0  1.0
22232  2019  6    충청북도     충주시  여성  ...   0.0  0.000000  0.000000  0.0  1.0

[22233 rows x 28 columns]